$light: #fff;
$primary-color: #263b5e;
$secondary-color: #796eff;
$black: #222;
$black-light: #3f4451;
$black-lighter: #888;
$border-color:#eee;
$primary-font: 'Poppins', sans-serif;
$secondary-font:'Poppins', sans-serif;
$gray : #f7fdfc;
