
.bg-3{
    position: relative;
    background: url("../images/banner/service.jpg")no-repeat 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
}

#banner-4{
    position: relative;
    background: url("../images/banner/banner-2.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

