/*--------------------------
PAGE BANNER
--------------------------*/

.page-banner-area {
  padding: 180px 0px 90px;
  position: relative;
}

.overlay {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.form-control {
  border-radius: 0px;
  height: 45px;
}
