
/*----------------------
 BANNER STYLE
-----------------------*/

.py-7 {
    padding: 7.5rem 0;
}

.py-8 {
    padding: 8.5rem 0;
}



/*-------------------------
 HOME -2 
-----------------------------*/
.banner-main{
    background: $gray;
    position: relative;
}


h1{
    font-size: 60px;
    line-height: 80px;
    color: #263b5e;
    font-weight: 600;
}

.main-banner {
    padding: 80px 0px 150px;
}

// .cta-section {
//     background-color: #fff;
//     margin-top: -50px;
// }

// .cta-section .cta-content {
//     background-color: #fff;
//     padding: 40px 50px;
//     -webkit-box-shadow: 0px 0px 35.77px 13.23px rgba(11, 91, 224, 0.08);
//     box-shadow: 0px 0px 35.77px 13.23px rgba(11, 91, 224, 0.08);
//     position: relative;
//     border-radius: 10px;
//     margin-bottom: 50px;
// }