<section class="section contact">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-12 col-lg-10">
                <!-- Heading -->
                <h2 class=" mb-2 text-lg">
                    Tell more about your project 
                </h2>

                <!-- Subheading -->
                <p class="mb-5 ">
                    Whether you have questions or you would just like to say hello, contact us.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, atque!
                </p>

            </div>
        </div> <!-- / .row -->

        <div class="row">
            <div class="col-lg-8">
               <!-- form message -->
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-success contact__msg" style="display: none" role="alert">
                            Your message was sent successfully.
                        </div>
                    </div>
                </div>
                <!-- end message -->
                <!-- Contacts Form -->
                <form class="contact_form" action="mail.php">
                    <div class="row">
                        <!-- Input -->
                        <div class="col-sm-6 mb-4">
                            <div class="form-group">
                                <label class="h6 small d-block text-capitalize">
                                    Your name
                                    <span class="text-danger">*</span>
                                </label>

                                <div class="input-group">
                                    <input class="form-control" name="name" id="name" required="" placeholder="John Doe" type="text">
                                </div>
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Input -->
                        <div class="col-sm-6 mb-4">
                            <div class="form-group">
                                <label class="h6 small d-block text-capitalize">
                                    Your email address
                                    <span class="text-danger">*</span>
                                </label>

                                <div class="input-group ">
                                    <input class="form-control" name="email" id="email" required="" placeholder="john@gmail.com" type="email">
                                </div>
                            </div>
                        </div>
                        <!-- End Input -->

                        <div class="w-100"></div>

                        <!-- Input -->
                        <div class="col-sm-6 mb-4">
                            <div class="form-group">
                                <label class="h6 small d-block text-capitalize">
                                    Subject
                                    <span class="text-danger">*</span>
                                </label>

                                <div class="input-group">
                                    <input class="form-control" name="subject" id="subject" required="" placeholder="Web design" type="text">
                                </div>
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Input -->
                        <div class="col-sm-6 mb-4">
                            <div class="form-group">
                                <label class="h6 small d-block text-capitalize">
                                    Your Phone Number
                                    <span class="text-danger">*</span>
                                </label>

                                <div class="input-group ">
                                    <input class="form-control" id="phone" name="phone" required="" placeholder="1-800-643-4500" type="text">
                                </div>
                            </div>
                        </div>
                        <!-- End Input -->
                    </div>

                    <!-- Input -->
                    <div class="form-group mb-4">
                        <label class="h6 small d-block text-capitalize">
                            How can we help you?
                            <span class="text-danger">*</span>
                        </label>

                        <div class="input-group">
                            <textarea class="form-control" rows="6" name="message" id="message" required="" placeholder="Hi there, I would like to ..."></textarea>
                        </div>
                    </div>
                    <!-- End Input -->

                    <div class="">
                       <input name="submit" type="submit" class="btn btn-main" value="Send Message">
                    </div>
                </form>
                <!-- End Contacts Form -->
            </div>

            <div class="col-lg-4">
                <div class="contact-info-block text-center mb-4">
                    <i class="ti-headphone-alt"></i>
                    <p class="mb-0">Contact Quickly</p>
                    <h4>+23-68017684</h4>
                </div>

                <div class="contact-info-block text-center">
                    <i class="ti-email"></i>
                    <p class="mb-0">Email</p>
                    <h4>startor@support.com</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="map" ></div>