 <section class="section bg-grey counter" >
    <div class="container">
        <div class="row justy-content-center">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="text-center counter-block">
                    <span class="counter-stat">300</span>+
                    <h4 class="mb-2">Project Completed</h4>
                    <p class="mb-0">Our team are experts in matching you with the right provider.</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="text-center counter-block">
                   <span class=" counter-stat">100</span>%
                    <h4 class="mb-2">Client satifaction</h4>
                    <p class="mb-0">We've been awarded for our high rate of customer satisfaction.</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="text-center counter-block">
                    <span class="counter-stat">15</span>
                    <h4 class="mb-2">Awards</h4>
                    <p class="mb-0">We believe in the power of business startup.</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="text-center counter-block">
                    <span class="counter-stat">39</span>
                    <h4 class="mb-2">Expert Members</h4>
                    <p class="mb-0">We compare market leaders with reputation for quality service</p>
                </div>
            </div>
        </div>
    </div> <!-- / .container -->
</section>
