<section class="case-study section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="case-item">
                    <img src="images/service/service-1.jpg" alt="" class="img-fluid">
                    <h4>Precise Teamwork</h4>
                    <p>Vero ipsa, sint ducimus non dignissimos, dicta reprehenderit nobis provident laborum.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="case-ite">
                    <img src="images/service/service-2.jpg" alt="" class="img-fluid">
                    <h4>Extending Creativity</h4>
                    <p>Vero ipsa, sint ducimus non dignissimos, dicta reprehenderit nobis provident laborum.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="case-ite">
                    <img src="images/service/service-3.jpg" alt="" class="img-fluid">
                    <h4>Practical Approach</h4>
                    <p>Vero ipsa, sint ducimus non dignissimos, dicta reprehenderit nobis provident laborum.</p>
                </div>
            </div>
        </div>
    </div>
</section>