 <footer class="footer ">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-lg-4 col-sm-12 mr-auto">
                <div class="footer-widget">
                    <!-- Brand -->
                    <h2 class="mb-4">Startor</h2>
                    <p class="mb-4">Each theme featured at the Bootstrap marketplace has been reviewed by Bootstrap's creators.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-12 ">
                <div class="footer-widget">
                    <h4 class="mb-4">Workflow Solutions</h4>
                    <!-- Links -->
                    <ul class="footer-links list-unstyled">
                        <li>
                            <a href="#">
                                Web Development
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Digital Marketing
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Graphic Design
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Web Hosting
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-2 col-sm-6">
                <div class="footer-widget">
                    <h4 class="mb-4">About</h4>
                    <!-- Links -->
                    <ul class="footer-links list-unstyled">
                        <li>
                            <a href="#">
                                Services
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Pricing
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h4 class="mb-4">Contact</h4>

                    <ul class="list-unstyled lh-35">
                        <li>121 King St, Melbourne VIC 3000, Australia</li>
                        <li class="text-black font-weight-bold">+888 123 45678</li>
                        <li>Info@example.com</li>
                        
                    </ul>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

   
    <div class="container">
        <div class="row footer-btm mt-5 pt-4 border-top">
            <div class="col-lg-6">
                <!-- Copyright -->
                <p class="footer-copy">
                    &copy; Copyright <span class="current-year">Themefisher</span> All rights reserved-2019.
                </p>
            </div>
            <div class="col-lg-6">
                <div class="footer-btm-menu text-lg-right">
                    <a href="#">Support</a>
                    <a href="#">Terms</a>
                    <a href="#">Privacy</a>
                </div>
            </div>
        </div> <!-- / .row -->
    </div>
</footer>



<!--  Page Scroll to Top  -->

<a class="scroll-to-top js-scroll-trigger" href="#top-header">
    <i class="ti-angle-up"></i>
</a>
