<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading text-center">
                    <span class="section-subtitle">We are creative agency</span>
                    <h2 class="text-lg mt-3">Our Projects Gallery</h2>
                    <p>We are trying to deliver 100% quality product and success their business to achieve ultimate goal.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="project-item mb-4">
                    <img src="images/projects/pc3.jpg" alt="" class="img-fluid">
                     <div class="project-content mt-4">
                        <h4 class="mb-0">Modern Web template</h4>
                        <p>Consectetur adipisicing elit Sapiente</p>
                    </div>
                </div>

                <div class="project-item">
                    <img src="images/projects/pc2.jpg" alt="" class="img-fluid">
                    <div class="project-content mt-4">
                        <h4 class="mb-0">Onepage portfolio Template</h4>
                        <p>Consectetur adipisicing elit Sapiente</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="project-item mb-4">
                            <img src="images/projects/2-min.jpg" alt="" class="img-fluid">
                            <div class="project-content mt-4">
                                <h4 class="mb-0">Artichtech web theme</h4>
                                <p>Consectetur adipisicing elit Sapiente</p>
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-6">
                        <div class="project-item mb-4">
                            <img src="images/projects/pic-2.jpg" alt="" class="img-fluid">
                            <div class="project-content mt-4">
                                <h4 class="mb-0">Onepage startup theme</h4>
                                <p>Consectetur adipisicing elit Sapiente</p>
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-12">
                        <div class="project-item">
                            <img src="images/projects/p-2.jpg" alt="" class="img-fluid">
                            <div class="project-content mt-4">
                                <h4 class="mb-0">Multipurpose corporate template</h4>
                                <p>Consectetur adipisicing elit Sapiente</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>