<section class="section pricing bg-grey">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-7">
                <div class="section-heading text-center">
                    <span class="section-subtitle">Our Pricing</span>
                    <h2 class="text-lg mt-4">
                        Affordable Price Plan
                    </h2>
                    <p>
                        Rapoo can be used to create anything from a small marketing page to a sophisticated website.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                 <div class="pricing-box p-5">
                    <div class="price mt-4">
                         <h2>Free</h2>
                    </div>
                    <hr>
                    <ul class="price-features list-unstyled">
                        <li><i class="ti-check mr-2"></i>1 end product</li>
                        <li><i class="ti-check mr-2"></i>Use for personal or a client</li>
                        <li><i class="ti-check mr-2"></i>Use in a free end product</li>
                    </ul>

                    <a href="#" class="btn btn-dark">7 Days free trial</a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="pricing-box p-5">
                    <div class="icon">
                        <i class="ti-layout text-lg text-color"></i>
                    </div>
                    <div class="price mt-4">
                         <h2>23$</h2>
                    </div>
                    <h4>Standard License</h4>
                    <hr>
                    <ul class="price-features list-unstyled">
                        <li><i class="ti-check mr-2"></i>1 end product</li>
                        <li><i class="ti-check mr-2"></i>Use for personal or a client</li>
                        <li><i class="ti-check mr-2"></i>Use in a free end product</li>
                        <li><i class="ti-check mr-2"></i>Free SSL Certificate </li>
                        <li><i class="ti-check mr-2"></i>6 months technical support</li>
                        <li><i class="ti-check mr-2"></i>24 Hours support</li>
                    </ul>

                    <a href="#" class="btn btn-main">Purchase Now</a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-8 col-md-6">
                <div class="pricing-box p-5">
                    <div class="icon">
                        <i class="ti-panel text-lg text-color-2"></i>
                    </div>
                    <div class="price mt-4">
                         <h2>$43</h2>
                    </div>
                    <h4>Extended License</h4>
                    <hr>

                    <ul class="price-features list-unstyled">
                        <li><i class="ti-check mr-2"></i>1 end product</li>
                        <li><i class="ti-check mr-2"></i>Use for personal or a client</li>
                        <li><i class="ti-check mr-2"></i>Use in a free end product</li>
                        <li><i class="ti-check mr-2"></i>Use in a product that is sold</li>
                        <li><i class="ti-check mr-2"></i>Third-party integration</li>
                        <li><i class="ti-check mr-2"></i>12 months technical support</li>
                        <li><i class="ti-check mr-2"></i>24 Hours support</li>
                    </ul>

                    <a href="#" class="btn btn-main-2">Purchase Now</a>
                    <p class="mt-4"><i class="ti-check mr-2"></i>No hidden Charges.</p>
                </div>
            </div>
        </div>
    </div>
</section>