<section class="section process" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-heading text-center">
                    <span class="letter-spacing text-color text-sm text-uppercase">How does it work</span>
                    <h2 class="text-md mt-3">We’ll just go through these <br><span class="text-color">easy steps</span></h2>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-4">
                <div class="process-info d-flex mb-4">
                    <div class="process-no">
                        <span class="number">01</span>
                    </div>
                    <div class="content">
                        <h4 class="mb-3">Let’s have a quick discussion</h4>
                        <p>Debitis odio, et, mollitia quae odit itaque voluptas voluptate tempore, minus esse.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="process-info d-flex mb-4">
                    <div class="process-no">
                        <span class="number">02</span>
                    </div>
                    <div class="content">
                        <h4 class="mb-3">Understanding your business </h4>
                        <p>Debitis odio, et, mollitia quae odit itaque voluptas voluptate tempore, minus esse.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="process-info d-flex mb-4">
                    <div class="process-no">
                        <span class="number">03</span>
                    </div>
                    <div class="content">
                        <h4 class="mb-3">Delivering the strategy </h4>
                        <p>Debitis odio, et, mollitia quae odit itaque voluptas voluptate tempore, minus esse.</p>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-6">
                <div class="process-info d-flex mb-4">
                    <div class="process-no">
                        <span class="number">04</span>
                    </div>
                    <div class="content">
                        <h4>Enjoy the Service <br>Fully functionally</h4>
                        <p>Debitis odio, et, mollitia quae odit itaque voluptas voluptate tempore, minus esse id in perspiciatis voluptatibus provident soluta a! Ipsa, perferendis, numquam.</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
