<section class="section service-2" >
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-lg-7 pl-4 text-center">
                    <div class="service-heading">
                        <h1>Get a better deal and start saving money today</h1>
                    </div>
                </div>
            </div>
            
            <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                <div class="project-item">
                    <img src="images/projects/p-1.jpg" alt="" class="img-fluid">
                    <div class="project-content">
                        <h4>Project: onepage</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi consequuntur veniam quod</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                <div class="project-item">
                    <img src="images/projects/p-4.jpg" alt="" class="img-fluid">
                    <div class="project-content">
                        <h4>Project: business</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi consequuntur veniam quod</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 ">
                <div class="project-item">
                    <img src="images/projects/p-3.jpg" alt="" class="img-fluid">
                    <div class="project-content">
                        <h4>Project : Marketing</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi consequuntur veniam quod</p>
                    </div>
                </div>
            </div>
        </div> 
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="pl-3">Want to know more about this? <a href="#">Contact us</a></p>
                </div>
            </div>    
        </div>
    </section>