<section class="section" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-heading text-center">
                    <h2 class="text-lg mt-3">How does it work?</h2>
                    <p>Incidunt illo dolorem asperiores perspiciatis veritatis tempora in rerum quo!eaque voluptates quidem minima quas vero rem. Doloremque doloribus, hic?</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6 mb-4">
                 <div class="service-block">
                    <i class="ti-microphone text-danger"></i>
                    <h4 class="mb-3 mt-3">Digital Analytics</h4>
                    <p class="mb-5">Must explain to you how this denouncing praisig pain was give you explain to you how…</p>

                    <a href="#" class="learn-more">Discover now <i class="ti-angle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 mb-4">
                 <div class="service-block">
                    <i class="ti-rocket text-success"></i>
                    <h4 class="mb-3 mt-3">Digital Marketing</h4>
                    <p class="mb-5">Must explain to you how this denouncing praisig pain was give you explain to you how…</p>

                    <a href="#" class="learn-more">Discover now <i class="ti-angle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 mb-4">
                 <div class="service-block">
                    <i class="ti-email text-warning"></i>
                    <h4 class="mb-3 mt-3">Email Marketing</h4>
                    <p class="mb-5">Must explain to you how this denouncing praisig pain was give you explain to you how…</p>

                    <a href="#" class="learn-more">Discover now <i class="ti-angle-right"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>