<section class="banner-main">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="main-banner text-center">
                    <h1 class="mb-4">
                       Drive More Customers Through Digital
                    </h1>

                    <!-- Subheading -->
                    <p class="lead mb-5">
                       Startflow is set of landing and support pages aimed at helping companies promote new products and business launches.
                    </p>

                    <!-- Button -->
                    <a href="#" target="_blank" class="btn btn-main mt-2">
                        Learn More
                    </a>
                    <a href="#" target="_blank" class="btn btn-main-2 mt-2 ml-2">
                        Services
                    </a>

                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

