<section class="section team" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
               <div class="section-heading text-center">
                    <span class="section-subtitle">Expert Team members</span>
                    <h2 class="text-lg mt-4">Genius Member</h2>
                    <p class="mb-5 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt voluptate tempore vero blanditiis voluptates sint, nulla recusandae delectus corrupti illum laboriosam deleniti.</p>
               </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="team-item">
                    <img src="images/team/team-1.jpg" alt="" class="img-fluid">
                    <div class="team-item-content mt-4">
                        <h4 class="mb-0">Harison John</h4>
                        <p class="mb-0">CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-item">
                    <img src="images/team/team-2.jpg" alt="" class="img-fluid">
                    <div class="team-item-content mt-4">
                        <h4 class="mb-0">Ruby Milton</h4>
                        <p class="mb-0">Visual Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-item">
                    <img src="images/team/team-3.jpg" alt="" class="img-fluid">
                    <div class="team-item-content mt-4">
                        <h4 class="mb-0">John Watson</h4>
                        <p class="mb-0">Marketer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-item">
                    <img src="images/team/team-4.jpg" alt="" class="img-fluid">
                    <div class="team-item-content mt-4">
                        <h4 class="mb-0">Raein hussy</h4>
                        <p class="mb-0">Senior Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>