<section class="section testimonial bg-grey">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-12">
             <div class="section-heading text-center">
                <span class="section-subtitle">Testimonials</span>
                <h2 class="text-lg mt-4">What they say about us</h2>
                <p class="mb-5 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt voluptate tempore vero blanditiis voluptates sint, nulla recusandae delectus corrupti illum laboriosam deleniti.</p>
             </div>
          </div>
      </div>

     <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 testimonial-wrap">
            <div class="test-block">
                <i class="ti-quote-left text-lg"></i>
                <h2 class="mt-3">Quality Service!</h2>
                <p>Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.</p>
                <div class="test-author-info mt-4">
                    <h5 class="mb-0">- Will Barrow</h5>
                    <p>Sunrise Paradise Hotel</p>
              </div>
            </div>

            <div class="test-block">
                <i class="ti-quote-left text-lg"></i>
                <h2 class="mt-3">modern & elegant design!</h2>
                <p>Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.</p>
                <div class="test-author-info mt-4">
                    <h5 class="mb-0">- Will Barrow</h5>
                    <p>Sunrise Paradise Hotel</p>
                </div>
            </div>

            <div class="test-block">
                <i class="ti-quote-left text-lg"></i>
                <h2 class="mt-3">Clean Coding !</h2>
                <p>Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.</p>
                <div class="test-author-info mt-4">
                    <h5 class="mb-0">- Will Barrow</h5>
                    <p>Sunrise Paradise Hotel</p>
                </div>
            </div>

            <div class="test-block">
                <i class="ti-quote-left text-lg"></i>
                <h2 class="mt-3">Superb customer support!</h2>
                <p>Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.</p>
                <div class="test-author-info mt-4">
                    <h5 class="mb-0">- Will Barrow</h5>
                    <p>Sunrise Paradise Hotel</p>
                </div>
            </div>

            <div class="test-block">
                <i class="ti-quote-left text-lg"></i>
                <h2 class="mt-3">Service as Mentioned!</h2>
                <p>Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.</p>
                <div class="test-author-info mt-4">
                    <h5 class="mb-0">- Will Barrow</h5>
                    <p>Sunrise Paradise Hotel</p>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>

