<section class="section testimonial ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-12">
             <div class="section-heading">
                <h2 class="mb-3">Check testimonials for our satisfied clients</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.molestiae temporibus corporis nobis excepturi sit.</p>
             </div>
          </div>
      
        <div class="col-lg-6 col-sm-12 col-md-12 testimonial-wrap ml-auto">
            <div class="test-item">
               <div class="testimonial-item-content">
                   <div class="test-author-thumb mb-4 d-flex align-items-center">
                       <img src="images/client/test-1.jpg" alt="Testimonial author" class="img-fluid">

                       <div class="test-author-info ml-4">
                           <h4 class="mb-0">Will Barrow</h4>
                           <p>Sunrise Paradise Hotel</p>
                        </div>
                   </div>

                   <p>Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.</p>
               </div>
            </div>
       
            <div class="test-item">
              <div class="testimonial-item-content">
                   <div class="test-author-thumb mb-4 d-flex align-items-center">
                       <img src="images/client/test-2.jpg" alt="Testimonial author" class="img-fluid">

                       <div class="test-author-info ml-4">
                           <h4 class="mb-0">Will Barrow</h4>
                           <p>Sunrise Paradise Hotel</p>
                        </div>
                   </div>
                   <p>Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.</p>
               </div>
            </div>

             <div class="test-item ">
                <div class="testimonial-item-content">
                   <div class="test-author-thumb mb-4 d-flex align-items-center">
                       <img src="images/client/test-3.jpg" alt="Testimonial author" class="img-fluid">

                       <div class="test-author-info ml-4">
                           <h4 class="mb-0">Will Barrow</h4>
                           <p>Sunrise Paradise Hotel</p>
                        </div>
                   </div>
                   <p>Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.</p>
               </div>
            </div>

             <div class="test-item">
                <div class="testimonial-item-content">
                   <div class="test-author-thumb mb-4 d-flex align-items-center">
                       <img src="images/client/test-4.jpg" alt="Testimonial author" class="img-fluid">

                       <div class="test-author-info ml-4">
                           <h4 class="mb-0">Will Barrow</h4>
                           <p>Sunrise Paradise Hotel</p>
                        </div>
                   </div>
                   <p>Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.</p>
               </div>
            </div>
          </div>
      </div>
    </div>
</section>


<section class="clients-logo section-bottom">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center mb-4">Trusted by hundreds</h3>
        </div>

        <div class="col-lg-3">
          <div class="client-item">
            <img src="images/client/client-1.png" alt="" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-3">
          <div class="client-item">
            <img src="images/client/client-2.png" alt="" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-3">
          <div class="client-item">
            <img src="images/client/client-3.png" alt="" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-3">
          <div class="client-item">
            <img src="images/client/client-4.png" alt="" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-3">
          <div class="client-item">
            <img src="images/client/client-3.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="client-item">
            <img src="images/client/client-4.png" alt="" class="img-fluid">
          </div>
        </div>
         <div class="col-lg-3">
          <div class="client-item">
            <img src="images/client/client-4.png" alt="" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-3">
          <div class="client-item">
            <img src="images/client/client-3.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
  </div>
</section>

