<div class="row py-4">
            <div class="col-lg-8 col-md-12 col-sm-12 ">
                <div class="project-home-img">
                    <img src="images/service/service-3.jpg" alt="" class="img-fluid">
                    <div class="project-content-block d-lg-flex justify-content-between align-items-center shadow-sm">
                       <h3>We have done amazing work.</h3>
                       <a href="#" class="btn btn-main">Watch video</a>
                    </div>
                </div>
            </div>
        </div>